---
import Layout from '../../layouts/Layout.astro';
import cards from '../../data/cards.json'

export function getStaticPaths() {
    return cards.map(({slug, title, subtitle, img, authors, updated, pdf, content}) => {
        return {
            params: { slug },
            props: { title, subtitle, img, authors, updated, pdf, content  }
        }
    });
}

const { title, subtitle, img, authors, updated, pdf, content } = Astro.props;
---
<Layout title={title}>
    <section class="py-3 bg-white">
        <div class="text-[#111111] relative mx-auto max-w-7xl px-5 lg:px-8 h-16 sm:flex sm:items-center">
            <a href="/" class="text-lg font-semibold leading-[26px] relative z-10 inline-block">{`<- `}<span class="tracking-[-0.36px]">Papers</span></a>
            <h1 class="z-0 sm:absolute mx-auto w-full left-0 right-0 sm:text-center mt-3 sm:max-w-[60%] sm:mt-0 text-[28px] font-bold leading-[32px] tracking-[-0.56px]">{title}</h1>
        </div>
        <div class="mx-auto max-w-3xl px-5 lg:px-8 grid sm:grid-cols-2 sm:gap-x-12 md:gap-x-32 gap-y-16 mt-12 sm:mt-32 mb-40">
            <div class="order-2 sm:order-first">
                <div
	class={`relative rounded px-8 pt-[38px] pb-[44px] aspect-[0.675] font-display keen-slider__slide transition-[opacity,box-shadow] duration-300 text-white flex flex-col justify-between shadow-card-hover`}>
	<img src={img} class="absolute w-full h-full object-cover inset-0 rounded" alt="" />
	<div class="font-medium text-sm leading-[16px] relative" set:html={subtitle}></div>
	<h3 class="uppercase text-[32px] leading-[38px] font-medium relative tracking-[-0.32px]" set:html={title}></h3>
            </div>
            </div>
            <div class="order-first">
                <div class="gap-4 gap-y-1 text-[#626262] sm:grid sm:grid-cols-3 sm:px-0">
                        <div class="w-24 text-lg font-semibold leading-[26px]">Author(s):</div>
                        <div class="sm:col-span-2 text-lg leading-[26px]">{authors}</div>
                </div>
                <div class="gap-4 gap-y-1 text-[#626262] sm:grid sm:grid-cols-3 sm:px-0">

                        <div class="w-24 text-lg font-semibold leading-[26px]">Updated:</div>
                        <div class="sm:col-span-2 text-lg leading-[26px]">{updated}</div>
                </div>

                <div class="mt-8">
                    <a href={pdf} class="rounded-full inline-block text-sm font-semibold leading-[32px] px-4 text-white bg-[#626262] transition-colors duration-300 hover:bg-[#111111]">View / Download -></a>
                </div>

            </div>
            <div class="order-3 sm:col-span-2 text-[#111111] text-[22px] leading-[31px]" set:html={content}></div>
        </div>
    </section>
</Layout>
